<% provide(:title, "About") %>

<h1>Sample App</h1>
<h2>About</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque saepe minima
   est maiores illum, quam, dolorum praesentium assumenda vero itaque.</p>
